* {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    font-family: sarahFont;
}

@font-face {
    font-family: sarahFont;
    src: url('../assets/KaushanScriptRegular.ttf');
 }

body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloaderX {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 3px solid #f00;
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: spinnerX 0.7s linear infinite;
}

@keyframes spinnerX{
    to {
        transform: rotate(360deg);
    }
}

.slideShowX {
    width: 80%;
    height: 500px;

    display: none;
    justify-content: space-between;
    align-items: center;

    background-image: url('../assets/bmw100.jpg');
    background-size: cover;
    background-position: center;
}

.slideShowX h4 {
    align-self: flex-end;
    color: #111;
    text-shadow: 1px 1px 5px #fff;
}

.slideShowX a {
    width: 50px;
    text-align: center;
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 0px 5px #000;
    cursor: pointer;
}

.slideShowX a:hover {
    color: dodgerblue;
}

.slideShowX .prevX {
    padding-left: 30px;
}

.slideShowX .prevX:hover {
    padding-left: 10px;
    padding-right: 20px;
}

.slideShowX .nextX {
    padding-right: 30px;
}

.slideShowX .nextX:hover {
    padding-right: 10px;
    padding-left: 20px;
}

.thumbnails {
    width: 80%;
    height: 10vh;
    background-color: black;
    display: flex;
}

.thumb {
    width: 25%;
    height: 10vh;
    background-image: url('../assets/bmw100.jpg');
    background-size: cover;
    background-position: center;
}

.thumbnails div:nth-child(1) {
    background-image: url('../assets/bmw100.jpg');
}